.page-login {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('./images/login-bg.jpg');
}
.page-login .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.75);
}

.page-login .login-container {
    width: 350px;
    z-index: 2;
}

.page-login .login-title {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    color: #323232;
}

.page-login .btn-login {
    width: 100%;
}

.page-login .reset-password-success {
    width:100%;
    text-align: center;
}

.page-login .reset-password-success button {
    width:100%;
    margin:20px auto 0;
}
