.page-login {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000000;
}

.page-login .login-container {
    width: 350px;
    padding: 30px 20px;
    margin-bottom: 1rem;
}

.page-login .btn-login {
    width: 100%;
}
